@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@600;800&display=swap");

body {
  font-family: Figtree;
}
.card {
  display: grid;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
